<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>


<% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <div>
        <%= link_to restaurant.name, restaurant %>
      </div>
      <div>
        <%= restaurant.description %>
      </div>
      <div>
        <%= link_to 'Reviews', restaurant_reviews_path(restaurant) %>
      </div>
    </div>
  </div>
<% end %>


<%= link_to 'New Restaurant', new_restaurant_path %>
